@import "tailwindcss";

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

/* 悬停时显示滚动条 */
:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/* 移除滚动条箭头 */
::-webkit-scrollbar-button {
  display: none;
}

.markdown-body ol {
  list-style-type: decimal;
}
.markdown-body ul {
  list-style-type: disc;
}
.markdown-body li {
  margin-left: 1rem;
}
.markdown-body a {
  color: #3b82f6;
  text-decoration: underline;
}
.markdown-body a:hover {
  color: #2563eb;
}
